{{ form_start(form) }}
    {{ form_row(form.title) }}

    <h3>Question</h3>
    <ul class="questions">
        {% for question in form.questions %}
            <li>{{ form_row(question.title) }}</li>
            {{ form_widget(question.save, { 'attr': {'hidden': 'hidden'} }) }}
            {{ form_widget(question.saveAndAdd, { 'attr': {'hidden': 'hidden'} }) }}
            <h3>Answers</h3>
            <ul class="answers" data-prototype="{{ form_widget(question.answer_options.vars.prototype)|e('html_attr') }}">
                {% for answer in question.answer_options %}
                    <li>{{ form_row(answer.answer) }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{{ form_end(form) }}
