{% extends 'base.html.twig' %}

{% block title %}Survey{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ survey.title|capitalize  }}</h1>

        <ul class="questions">
            {% for question in survey.questions %}
                <li><h3>{{ question.title|capitalize }}</h3></li>
                <h6>Answer options</h6>
                <ul class="answers">
                    {% for answer in question.answerOptions %}
                        <li>{{ answer.answer|capitalize }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>

        {% if is_granted('ROLE_AUTHOR') and survey.creator == app.user %}
            <a class="btn btn-dark" href="{{ path('survey_index') }}">Back</a>
            <a class="btn btn-dark" href="{{ path('survey_edit', {'id': survey.id}) }}">Edit</a>

            {{ include('survey/_delete_form.html.twig') }}
            {% else %}
                <a class="btn btn-dark" href="{{ path('home_page') }}">Back</a>
        {% endif %}

    </div>
{% endblock %}
